:root {
    --app-background-color: var(--color-black);

    // Typography
    --font-color-primary: var(--color-white);
    --font-color-secondary: var(--color-grey-700);

    // Buttons
    --button-color-background: var(--color-white);
    --button-color-font: var(--color-black);

    // Carousel navigation buttons
    --carousel-button-color-background: var(--color-black);
    --carousel-button-color-font: var(--color-white);

    // Input fields
    --input-color-background: var(--color-grey-100);
    --input-color-font: var(--color-white);
    --input-color-font-placeholder: var(--color-grey-700);
    --input-color-font-placeholder-disabled: var(--color-grey-300);

    // Speech bubbles
    --speech-bubble-agent-color-background: var(--color-grey-100);
    --speech-bubble-agent-color-font: var(--color-white);
    --speech-bubble-user-color-background: var(--color-grey-200);
    --speech-bubble-user-color-font: var(--color-white);

    // Navigation
    --navigation-color-background: var(--color-black);
    --navigation-button-color-background: rgba(46, 44, 44, 0.50);
    --navigation-button-color-font: var(--color-grey-1000);
    --navigation-button-active-color-background: var(--color-grey-200);
    --navigation-button-active-color-font: var(--color-white);
    --navigation-button-disabled-color-font: var(--color-grey-200);
    --navigation-button-disabled-color-background: var(--color-grey-100);

    --navigation-button-record-color-background: var(--color-red-900);
    --navigation-button-record-color-font: var(--color-white);
    --navigation-button-record-disabled-color-background: var(--color-red-700);
    --navigation-button-record-disabled-color-font: var(--color-grey-600);
}