# Git
.git
.gitignore

# Virtualenv
.venv
venv

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# IDE/Editor specific
.vscode
.idea
.gemini

# Build artifacts
*.egg-info
build
dist
node_modules

# Caches
.ruff_cache
.pytest_cache
.mypy_cache

# Other
cloudbuild*.yaml
*.md
Makefile
.env

# Unnecessary files
gemini_context/*
node
*.xlsx
*.md
*.ipynb
*.excalidraw
